<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/" class="navbar-item">
      Dashboard
    </a>
    <a href="/contacts" class="navbar-item">
      Contacts
    </a>
  </div>
</nav>